{"swagger":"2.0","info":{"version":"v1","title":"Xena.Web.Api"},"host":"my.xena.biz","schemes":["http"],"paths":{"/Api/actuator/health":{"get":{"tags":["(Core) - Actuator"],"operationId":"Actuator_GetHealth","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Api/Fiscal/{fiscalId}/AuditTrail/{type}/{id}":{"get":{"tags":["(Core) - ApiAuditTrail"],"operationId":"ApiAuditTrail_GetList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"type","in":"path","required":true,"type":"string"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Api/Fiscal/{fiscalId}/AvailableProviderReportLayout":{"get":{"tags":["(Core) - ApiAvailableProviderReportLayout"],"operationId":"ApiAvailableProviderReportLayout_GetList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"reportModule","in":"query","required":true,"type":"string"},{"name":"queryString","in":"query","required":false,"type":"string"},{"name":"includeDefaults","in":"query","required":false,"type":"boolean"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[AvailableDefaultReportLayoutDto]"}}}}},"/Api/Country":{"get":{"tags":["(Core) - ApiCountry"],"operationId":"ApiCountry_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"queryString","in":"query","required":false,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[CountryDto]"}}}}},"/Api/Culture/Profiles":{"get":{"tags":["(Core) - ApiCulture"],"operationId":"ApiCulture_GetProfileCultures","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[CultureDto]"}}}}},"/Api/Culture":{"get":{"tags":["(Core) - ApiCulture"],"operationId":"ApiCulture_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"queryString","in":"query","required":false,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[CultureDto]"}}}}},"/Api/Fiscal/{fiscalId}/DefaultReportLayout":{"get":{"tags":["(Core) - ApiDefaultReportLayout"],"operationId":"ApiDefaultReportLayout_GetList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[DefaultReportLayoutData]"}}}},"post":{"tags":["(Core) - ApiDefaultReportLayout"],"operationId":"ApiDefaultReportLayout_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dto","in":"body","required":true,"schema":{"$ref":"#/definitions/DefaultReportLayoutData"}},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DefaultReportLayoutData"}}}}},"/Api/Fiscal/{fiscalId}/DefaultReportLayout/{id}":{"put":{"tags":["(Core) - ApiDefaultReportLayout"],"operationId":"ApiDefaultReportLayout_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dto","in":"body","required":true,"schema":{"$ref":"#/definitions/DefaultReportLayoutData"}},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DefaultReportLayoutData"}}}},"delete":{"tags":["(Core) - ApiDefaultReportLayout"],"operationId":"ApiDefaultReportLayout_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"reportGroup","in":"query","required":true,"type":"string"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeleteResult"}}}}},"/Api/Fiscal/{fiscalId}/Email":{"get":{"tags":["(Core) - ApiEmail"],"operationId":"ApiEmail_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partnerId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"queryString","in":"query","required":false,"type":"string"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[EmailFinderData]"}}}}},"/Api/Fiscal/{fiscalId}/Email/Send":{"post":{"tags":["(Core) - ApiEmail"],"operationId":"ApiEmail_PostSendMail","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/EmailData"}},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SaveResult"}}}}},"/Api/Fiscal/{fiscalId}/EntityTemplate":{"get":{"tags":["(Core) - ApiEntityTemplate"],"operationId":"ApiEntityTemplate_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"entityType","in":"query","required":true,"type":"string"},{"name":"queryString","in":"query","required":false,"type":"string"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[EntityTemplateDto]"}}}},"post":{"tags":["(Core) - ApiEntityTemplate"],"operationId":"ApiEntityTemplate_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dto","in":"body","required":true,"schema":{"$ref":"#/definitions/EntityTemplateDto"}},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"400":{"description":"Entry Template cannot be created (Error message details included in response)."}}}},"/Api/Fiscal/{fiscalId}/EntityTemplate/{id}":{"get":{"tags":["(Core) - ApiEntityTemplate"],"operationId":"ApiEntityTemplate_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Entry Template found."}}},"put":{"tags":["(Core) - ApiEntityTemplate"],"operationId":"ApiEntityTemplate_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dto","in":"body","required":true,"schema":{"$ref":"#/definitions/EntityTemplateDto"}},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Entry Template not found."},"400":{"description":"Entry Template cannot be updated (Error message details included in response)."}}},"delete":{"tags":["(Core) - ApiEntityTemplate"],"operationId":"ApiEntityTemplate_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Entry Template not found."},"400":{"description":"Entry Template cannot be deleted (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/EntityTemplate/{id}/Apply":{"post":{"tags":["(Core) - ApiEntityTemplate"],"operationId":"ApiEntityTemplate_PostApply","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/EntityTemplateData"}},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SaveResult"}}}}},"/Api/Fiscal/{fiscalId}/EntityTemplate/{id}/Save":{"put":{"tags":["(Core) - ApiEntityTemplate"],"operationId":"ApiEntityTemplate_PutSave","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/EntityTemplateData"}},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SaveResult"}}}}},"/Api/ExternalData/DanishCompanyByCVR":{"get":{"tags":["(Core) - ApiExternal"],"operationId":"ApiExternal_GetDanishCompanyByCVRList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"queryString","in":"query","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[DanishCompanyIndex]"}}}}},"/Api/Fiscal/{fiscalId}/Notification":{"get":{"tags":["(Core) - ApiFiscalNotification"],"operationId":"ApiFiscalNotification_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"notificationTypes","in":"query","required":true,"type":"string"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[NotificationDto]"}}}}},"/Api/Fiscal/{fiscalId}/Notification/{id}/Execute":{"put":{"tags":["(Core) - ApiFiscalNotification"],"operationId":"ApiFiscalNotification_PutExecute","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/ExecuteNotificationData"}},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"400":{"description":"Notification cannot be exexcuted (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/Notification/FiscalNotificationCount":{"get":{"tags":["(Core) - ApiFiscalNotification"],"operationId":"ApiFiscalNotification_GetNotificationCount","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FiscalNotificationCountData"}}}}},"/Api/Home/FiscalSetup":{"get":{"tags":["(Core) - ApiHome"],"operationId":"ApiHome_GetFiscalSetup","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"404":{"description":"FiscalSetup not found."}}},"post":{"tags":["(Core) - ApiHome"],"operationId":"ApiHome_PostFiscalSetup","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dto","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateFiscalSetupData"}}],"responses":{"400":{"description":"FiscalSetup cannot be updated (details included in response)."}}}},"/Api/Home/SubscriptionTicket/{id}":{"delete":{"tags":["(Core) - ApiHome"],"operationId":"ApiHome_DeleteSubscriptionTicket","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SaveResult"}}}}},"/Api/Home/PartnerInvitation/Accept":{"post":{"tags":["(Core) - ApiHome"],"operationId":"ApiHome_PostAcceptPartnerInvitation","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"invitedPartnerDto","in":"body","required":true,"schema":{"$ref":"#/definitions/InvitedPartnerDto"}}],"responses":{"404":{"description":"InvitedPartner not found."},"400":{"description":"Partner could not be created."}}}},"/Api/Home/Accountant":{"get":{"tags":["(Core) - ApiHome"],"operationId":"ApiHome_GetAccountantList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"querystring","in":"query","required":false,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[AccountantDto]"}}}}},"/Api/Home/Provider":{"get":{"tags":["(Core) - ApiHome"],"operationId":"ApiHome_GetProviderList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"querystring","in":"query","required":false,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[FiscalSetupProviderDto]"}}}}},"/Api/Home/Accountant/{accountantId}/Department":{"get":{"tags":["(Core) - ApiHome"],"operationId":"ApiHome_GetAccountantDepartmentList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"accountantId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"querystring","in":"query","required":false,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[AccountantDto]"}}}}},"/Api/Home/EpayDataForOnlineUserPayment":{"post":{"tags":["(Core) - ApiHome"],"operationId":"ApiHome_PostEpayDataForOnlineUserPayment","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"paymentData","in":"body","required":true,"schema":{"$ref":"#/definitions/EpayData"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Api/Home/GetDefaultCurrencyList":{"get":{"tags":["(Core) - ApiHome"],"operationId":"ApiHome_GetDefaultCurrencyList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"querystring","in":"query","required":false,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[CurrencyDto]"}}}}},"/Api/Home/GetSashaUrl":{"get":{"tags":["(Core) - ApiHome"],"operationId":"ApiHome_GetSashaUrl","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Api/Fiscal/{fiscalId}/ProviderReleaseNotesLink/{id}":{"get":{"tags":["(Core) - ApiProviderReleaseNotesLink"],"operationId":"ApiProviderReleaseNotesLink_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"ProviderReleaseNotesLink not found."}}},"put":{"tags":["(Core) - ApiProviderReleaseNotesLink"],"operationId":"ApiProviderReleaseNotesLink_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"link","in":"body","required":true,"schema":{"$ref":"#/definitions/ProviderReleaseNotesLinkDto"}},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"ProviderReleaseNotesLink cannot be found (details included in response)."},"400":{"description":"ProviderReleaseNotesLink cannot be updated (details included in response)."}}},"delete":{"tags":["(Core) - ApiProviderReleaseNotesLink"],"operationId":"ApiProviderReleaseNotesLink_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"HelpLink not found."},"400":{"description":"HelpLink cannot be deleted (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/ProviderReleaseNotesLink":{"get":{"tags":["(Core) - ApiProviderReleaseNotesLink"],"operationId":"ApiProviderReleaseNotesLink_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[ProviderReleaseNotesLinkDto]"}}}},"post":{"tags":["(Core) - ApiProviderReleaseNotesLink"],"operationId":"ApiProviderReleaseNotesLink_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"link","in":"body","required":true,"schema":{"$ref":"#/definitions/ProviderReleaseNotesLinkDto"}},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProviderReleaseNotesLinkDto"}}}}},"/Api/Public/Terms":{"get":{"tags":["(Core) - ApiPublic"],"operationId":"ApiPublic_GetActiveTerms","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"termsType","in":"query","required":false,"type":"string"},{"name":"providerId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[ActiveTermsDto]"}}}}},"/Api/Public/Fiscal/{id}/VCard":{"get":{"tags":["(Core) - ApiPublic"],"operationId":"ApiPublic_GetVCardByFiscal","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/VCardDto"}}}}},"/Api/Public/User/{id}/VCard":{"get":{"tags":["(Core) - ApiPublic"],"operationId":"ApiPublic_GetVCardByUser","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/VCardDto"}}}}},"/Api/Public/Fiscal/{id}/Resource/VCard":{"get":{"tags":["(Core) - ApiPublic"],"operationId":"ApiPublic_GetResourceVCardByFiscal","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[VCardDto]"}}}}},"/Api/Public/App":{"get":{"tags":["(Core) - ApiPublic"],"operationId":"ApiPublic_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"queryString","in":"query","required":false,"type":"string"},{"name":"includeXena","in":"query","required":false,"type":"boolean"},{"name":"includeBundles","in":"query","required":false,"type":"boolean"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[StoreAppDto]"}}}}},"/Api/Public/App/{id}":{"get":{"tags":["(Core) - ApiPublic"],"operationId":"ApiPublic_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"404":{"description":"XenaFiscalApp not found."}}}},"/Api/Public/XenaAppForDiscountCodeList":{"get":{"tags":["(Core) - ApiPublic"],"operationId":"ApiPublic_GetXenaAppForDiscountCodeList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"query","required":true,"type":"integer","format":"int64"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[DiscountCode_XenaAppDto]"}}}}},"/Api/Public/App/Category":{"get":{"tags":["(Core) - ApiPublic"],"operationId":"ApiPublic_GetAppCategory","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[SelectListData]"}}}}},"/Api/Fiscal/{fiscalId}/SmtpSetting":{"get":{"tags":["(Core) - ApiSmtpSetting"],"operationId":"ApiSmtpSetting_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[SmtpSettingDto]"}}}},"post":{"tags":["(Core) - ApiSmtpSetting"],"operationId":"ApiSmtpSetting_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"smtpSetting","in":"body","required":true,"schema":{"$ref":"#/definitions/SmtpSettingDto"}},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"400":{"description":"SmtpSetting cannot be created (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/SmtpSetting/{id}":{"get":{"tags":["(Core) - ApiSmtpSetting"],"operationId":"ApiSmtpSetting_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"SmtpSetting not found."}}},"put":{"tags":["(Core) - ApiSmtpSetting"],"operationId":"ApiSmtpSetting_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"smtpSetting","in":"body","required":true,"schema":{"$ref":"#/definitions/SmtpSettingDto"}},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"SmtpSetting not found."},"400":{"description":"SmtpSetting cannot be updated (details included in response)."}}},"delete":{"tags":["(Core) - ApiSmtpSetting"],"operationId":"ApiSmtpSetting_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"SmtpSetting not found."},"400":{"description":"SmtpSetting cannot be deleted (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/SmtpSetting/SendTestMail":{"post":{"tags":["(Core) - ApiSmtpSetting"],"operationId":"ApiSmtpSetting_PostSendTestMail","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"settingDto","in":"body","required":true,"schema":{"$ref":"#/definitions/SmtpSettingDto"}},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Email successfully sent.","schema":{"type":"object"}},"400":{"description":"Unable to send email with the specified connection details."}}}},"/Api/XenaTermsCulture/{id}":{"get":{"tags":["(Core) - ApiTermsCultureHandling"],"operationId":"ApiTermsCultureHandling_GetActiveTerm","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActiveTermsCultureFullDto"}}}}},"/Api/XenaTermsCulture/{id}/Accept":{"put":{"tags":["(Core) - ApiTermsCultureHandling"],"operationId":"ApiTermsCultureHandling_PutAccept","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/TermsData"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SaveResult"}}}}},"/Api/XenaTerms/Unhandled":{"get":{"tags":["(Core) - ApiTermsHandling"],"operationId":"ApiTermsHandling_GetUnhandledTerms","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"fiscalSetupId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[ActiveTermsDto]"}}}}},"/Api/XenaTerms":{"get":{"tags":["(Core) - ApiTermsHandling"],"operationId":"ApiTermsHandling_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"fiscalSetupId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"termsType","in":"query","required":false,"type":"string"},{"name":"providerId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[ActiveTermsDto]"}}}}},"/Api/XenaTerms/{id}/Reject":{"put":{"tags":["(Core) - ApiTermsHandling"],"operationId":"ApiTermsHandling_PutReject","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/TermsData"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SaveResult"}}}}},"/Api/User/Subscription/{id}/XenaUserPartnerPost":{"get":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_GetXenaUserPartnerPostListForSubscription","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[XenaUserPartnerPostDto]"}}}}},"/Api/User/FiscalSetup/{id}/SharedDocument":{"get":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_GetSharedDocument","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[DocumentDto]"}}}}},"/Api/User/{id}":{"delete":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SaveResult"}}}}},"/Api/User/FiscalSetup/{id}/XenaUserPartnerPost":{"get":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_GetXenaUserPartnerPostForFiscalSetup","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[XenaUserPartnerPostDto]"}}}}},"/Api/User/FiscalSetup/{id}/XenaUserSubscription":{"get":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_GetXenaUserSubscriptionForFiscalSetup","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[XenaUserSubscriptionDto]"}}}}},"/Api/User/XenaUserSubscription/{id}/XenaUserSubscriptionLine":{"get":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_GetXenaUserSubscriptionLine","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[XenaUserSubscriptionLineDto]"}}}}},"/Api/User/VCardForUser":{"get":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_GetVCardForUser","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"404":{"description":"VCard not found."}}}},"/Api/User/VCard/{id}":{"get":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_GetVCard","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"404":{"description":"VCard not found."}}},"put":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_PutVCard","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dto","in":"body","required":true,"schema":{"$ref":"#/definitions/VCardDto"}},{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"VCard not found."},"400":{"description":"VCard cannot be updated (details included in response)."}}},"delete":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_DeleteVCard","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"404":{"description":"VCard not found."},"400":{"description":"VCard cannot be deleted (details included in response)."}}}},"/Api/User/VCard":{"post":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_PostVCard","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"400":{"description":"VCard cannot be created (details included in response)."}}}},"/Api/User/XenaUserPartner":{"get":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_GetXenaUserPartner","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[XenaUserPartnerDto]"}}}}},"/Api/User/AuthenticatedEmails":{"get":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_AvailableEmails","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[String]"}}}}},"/Api/User/XenaUserSubscriptionTicket":{"get":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_GetXenaUserSubscriptionTicket","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"query","required":true,"type":"integer","format":"int64"}],"responses":{"404":{"description":"XenaUserSubscriptionTicket not found."}}}},"/Api/User/Subscription/{id}/SubscriptionTicket":{"get":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_GetSubscriptionTicket","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/XenaUserSubscriptionTicketDto"}}}}},"/Api/User/FiscalSetup":{"get":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_GetFiscalSetup","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[FiscalSetupDto]"}}}}},"/Api/User/UserNotificationCount":{"get":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_GetUserNotificationCount","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"format":"int64","type":"integer"}}}}},"/Api/User/XenaUserMembership":{"get":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_GetXenaUserMembershipList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"queryString","in":"query","required":false,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[XenaUserMembershipDto]"}}}}},"/Api/User/IdsUserMembership":{"get":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_GetIdSMembershipList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IdSMembershipDto"}}}}}},"/Api/User/History":{"get":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_GetHistory","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[OrderDto]"}}}}},"/Api/User/Fiscal/{id}/ConnectionData":{"get":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_GetConnectionDataForFiscal","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ConnectionData"}}}}},"/Api/User/EpayTicketForExistingUserSubscription":{"post":{"tags":["(Core) - ApiUser"],"operationId":"ApiUser_PostEpayTicketForExistingUserSubscription","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/EpayData"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Api/Notification":{"get":{"tags":["(Core) - ApiUserNotification"],"operationId":"ApiUserNotification_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[NotificationDto]"}}}}},"/Api/Notification/{id}/Execute":{"put":{"tags":["(Core) - ApiUserNotification"],"operationId":"ApiUserNotification_PutExecute","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/ExecuteNotificationData"}}],"responses":{"400":{"description":"Notification cannot be exexcuted (details included in response)."}}}},"/Api/Api/UserSettings":{"get":{"tags":["(Core) - ApiUserSettings"],"operationId":"ApiUserSettings_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[Setting]"}}}}},"/Api/Api/UserSettings/Bool/{setting}":{"get":{"tags":["(Core) - ApiUserSettings"],"operationId":"ApiUserSettings_GetBool","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"setting","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"BoolSetting not found."}}},"put":{"tags":["(Core) - ApiUserSettings"],"operationId":"ApiUserSettings_PutBool","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"setting","in":"path","required":true,"type":"string"},{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/BoolSettingData"}}],"responses":{"400":{"description":"BoolSetting cannot be updated (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/ValueTemplate":{"get":{"tags":["(Core) - ApiValueTemplate"],"operationId":"ApiValueTemplate_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"key","in":"query","required":true,"type":"string"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[ValueTemplateDto]"}}}},"post":{"tags":["(Core) - ApiValueTemplate"],"operationId":"ApiValueTemplate_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dto","in":"body","required":true,"schema":{"$ref":"#/definitions/ValueTemplateDto"}},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"400":{"description":"Value Template cannot be created (Error message details included in response)."}}}},"/Api/Fiscal/{fiscalId}/ValueTemplate/{id}":{"get":{"tags":["(Core) - ApiValueTemplate"],"operationId":"ApiValueTemplate_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Value Template found."}}},"put":{"tags":["(Core) - ApiValueTemplate"],"operationId":"ApiValueTemplate_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dto","in":"body","required":true,"schema":{"$ref":"#/definitions/ValueTemplateDto"}},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Value Template not found."},"400":{"description":"Value Template cannot be updated (Error message details included in response)."}}},"delete":{"tags":["(Core) - ApiValueTemplate"],"operationId":"ApiValueTemplate_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Value Template not found."},"400":{"description":"Value Template cannot be deleted (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/VCard/ByPartner/{partnerId}":{"get":{"tags":["(Core) - ApiVCard"],"operationId":"ApiVCard_GetByPartner","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"partnerId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[VCardDto]"}}}}},"/Api/Fiscal/{fiscalId}/VCard/ByType":{"get":{"tags":["(Core) - ApiVCard"],"operationId":"ApiVCard_GetByType","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"},{"name":"filter.partnerType","in":"query","required":false,"type":"string"},{"name":"filter.name","in":"query","required":false,"type":"string"},{"name":"filter.orgNumber","in":"query","required":false,"type":"string"},{"name":"filter.gLNNumber","in":"query","required":false,"type":"string"},{"name":"filter.attention","in":"query","required":false,"type":"string"},{"name":"filter.street","in":"query","required":false,"type":"string"},{"name":"filter.placeName","in":"query","required":false,"type":"string"},{"name":"filter.zip","in":"query","required":false,"type":"string"},{"name":"filter.city","in":"query","required":false,"type":"string"},{"name":"filter.countryName","in":"query","required":false,"type":"string"},{"name":"filter.phoneNumber","in":"query","required":false,"type":"string"},{"name":"filter.email","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[VCardDto]"}}}}},"/Api/Fiscal/{fiscalId}/VCard/UserSearch":{"get":{"tags":["(Core) - ApiVCard"],"operationId":"ApiVCard_GetUserSearch","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"queryString","in":"query","required":false,"type":"string"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserSearchData"}}}}},"/Api/Fiscal/{fiscalId}/XenaFiscalApp/Installed":{"get":{"tags":["(Core) - ApiXenaFiscalApp"],"operationId":"ApiXenaFiscalApp_GetInstalled","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[XenaFiscalAppSubscriptionDto]"}}}}},"/Api/Fiscal/{fiscalId}/XenaFiscalApp/InstalledFiscalApps":{"get":{"tags":["(Core) - ApiXenaFiscalApp"],"operationId":"ApiXenaFiscalApp_GetInstalledFiscalApps","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[StoreAppDto]"}}}}},"/Api/Fiscal/{fiscalId}/XenaFiscalApp/{appId}/Unsubscribe":{"delete":{"tags":["(Core) - ApiXenaFiscalApp"],"operationId":"ApiXenaFiscalApp_DeleteUnsubscribe","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"appId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"deleteData","in":"body","required":true,"schema":{"$ref":"#/definitions/DeleteAppSubscriptionData"}},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SaveResult"}}}}},"/Api/Fiscal/{fiscalId}/XenaUserPrice/{article}":{"get":{"tags":["(Core) - ApiXenaPrice"],"operationId":"ApiXenaPrice_GetXenaUserPrice","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"article","in":"path","required":true,"type":"string"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/XenaPriceInfo"}}}}},"/Api/Fiscal/{fiscalId}/XenaUserPrice/GetUserPriceInfo":{"get":{"tags":["(Core) - ApiXenaPrice"],"operationId":"ApiXenaPrice_GetUserPriceInfo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/XenaUserPriceInfo"}}}}},"/Api/Fiscal/{fiscalId}/Membership/{membershipId}/DeletionConsequence":{"get":{"tags":["(Core) - ApiXenaPrice"],"operationId":"ApiXenaPrice_GetSubscriptionConsequenceForDeletion","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"fiscalId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"membershipId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SubscriptionChangeForDeletingUser"}}}}},"/Api/Fiscal/{fiscalId}/Zip":{"get":{"tags":["(Core) - ApiZip"],"operationId":"ApiZip_GetByZip","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"zip","in":"query","required":true,"type":"string"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FoundZip"}}}}},"/Api/Zip":{"get":{"tags":["(Core) - ApiZip"],"operationId":"ApiZip_GetByZip","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"zip","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FoundZip"}}}}},"/Api/Fiscal/{fiscalId}/AccountantAdmin/Client":{"get":{"tags":["Accountant - ApiAccountantAdmin"],"operationId":"ApiAccountantAdmin_GetClientList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"queryString","in":"query","required":false,"type":"string"},{"name":"accountantDepartmentId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[AccountantClientDto]"}}}}},"/Api/Fiscal/{fiscalId}/AccountantAdmin/Client/{id}":{"delete":{"tags":["Accountant - ApiAccountantAdmin"],"operationId":"ApiAccountantAdmin_DeleteClient","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeleteResult"}}}}},"/Api/Fiscal/{fiscalId}/AccountantAdmin/Accountant":{"get":{"tags":["Accountant - ApiAccountantAdmin"],"operationId":"ApiAccountantAdmin_GetAccountantList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"queryString","in":"query","required":false,"type":"string"},{"name":"accountantDepartmentId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[AccountantResourceDto]"}}}}},"/Api/Fiscal/{fiscalId}/AccountantAdmin/Client/{clientId}/Accountant":{"get":{"tags":["Accountant - ApiAccountantAdmin"],"operationId":"ApiAccountantAdmin_GetAccountantByClientList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"clientId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[AccountantResourceDto]"}}}}},"/Api/Fiscal/{fiscalId}/AccountantAdmin/Accountant/{accountantId}/Client":{"get":{"tags":["Accountant - ApiAccountantAdmin"],"operationId":"ApiAccountantAdmin_GetClientByAccountantList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"accountantId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[AccountantResourceDto]"}}}}},"/Api/Fiscal/{fiscalId}/AccountantAdmin/Client/{clientId}/Accountant/{accountantId}":{"post":{"tags":["Accountant - ApiAccountantAdmin"],"operationId":"ApiAccountantAdmin_PostAccountant","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"clientId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"accountantId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SaveResult"}}}},"delete":{"tags":["Accountant - ApiAccountantAdmin"],"operationId":"ApiAccountantAdmin_DeleteAccountant","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"clientId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"accountantId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SaveResult"}}}}},"/Api/Fiscal/{fiscalId}/AccountantAdmin/AccountantSecurityRoles":{"get":{"tags":["Accountant - ApiAccountantAdmin"],"operationId":"ApiAccountantAdmin_GetAccountantSecurityRoleList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOption.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOption.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOption.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOption.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[SelectListData]"}}}}},"/Api/Fiscal/{fiscalId}/AccountantAdmin/{id}":{"get":{"tags":["Accountant - ApiAccountantAdmin"],"operationId":"ApiAccountantAdmin_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"AccountantClient not found."}}}},"/Api/Fiscal/{fiscalId}/AccountantAdmin/Client/{clientId}/Partner":{"post":{"tags":["Accountant - ApiAccountantAdmin"],"operationId":"ApiAccountantAdmin_PostPartnerFromClient","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"clientId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"400":{"description":"Partner could not be created (details in the response)."}}}},"/Api/Fiscal/{fiscalId}/AccountantAdmin/AccountantResourceTempAccess":{"get":{"tags":["Accountant - ApiAccountantAdmin"],"operationId":"ApiAccountantAdmin_GetAccountantTempAccess","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"accountantId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"clientId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[AccountantResourceTempAccessDto]"}}}}},"/Api/Fiscal/{fiscalId}/AccountantClient/{id}":{"get":{"tags":["Accountant - ApiAccountantClient"],"operationId":"ApiAccountantClient_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"AccountantClientDto not found."}}},"put":{"tags":["Accountant - ApiAccountantClient"],"operationId":"ApiAccountantClient_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dto","in":"body","required":true,"schema":{"$ref":"#/definitions/AccountantClientDto"}},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"AccountantClientDto not found."},"400":{"description":"AccountantClientDto cannot be updated (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/AccountantDepartment":{"get":{"tags":["Accountant - ApiAccountantDepartment"],"operationId":"ApiAccountantDepartment_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"queryString","in":"query","required":false,"type":"string"},{"name":"includeDefault","in":"query","required":false,"type":"boolean"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[AccountantDepartmentDto]"}}}},"post":{"tags":["Accountant - ApiAccountantDepartment"],"operationId":"ApiAccountantDepartment_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dto","in":"body","required":true,"schema":{"$ref":"#/definitions/AccountantDepartmentDto"}},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"400":{"description":"AccountantDepartment cannot be created (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/AccountantDepartment/{id}":{"get":{"tags":["Accountant - ApiAccountantDepartment"],"operationId":"ApiAccountantDepartment_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"AccountantDepartment not found."}}},"put":{"tags":["Accountant - ApiAccountantDepartment"],"operationId":"ApiAccountantDepartment_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dto","in":"body","required":true,"schema":{"$ref":"#/definitions/AccountantDepartmentDto"}},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"AccountantDepartment not found."},"400":{"description":"AccountantDepartment cannot be updated (details included in response)."}}},"delete":{"tags":["Accountant - ApiAccountantDepartment"],"operationId":"ApiAccountantDepartment_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"AccountantDepartment not found."},"400":{"description":"AccountantDepartment cannot be deleted (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/AccountantResource/{id}":{"get":{"tags":["Accountant - ApiAccountantResource"],"operationId":"ApiAccountantResource_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"AccountantResourceDto not found."}}},"put":{"tags":["Accountant - ApiAccountantResource"],"operationId":"ApiAccountantResource_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dto","in":"body","required":true,"schema":{"$ref":"#/definitions/AccountantResourceDto"}},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"AccountantResourceDto not found."},"400":{"description":"AccountantResourceDto cannot be updated (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/XenaApp/{id}/Subscriber":{"get":{"tags":["AppStore - ApiXenaAppSubscriber"],"operationId":"ApiXenaAppSubscriber_GetByXenaAppList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[XenaFiscalAppSubscriptionDto]"}}}}},"/Api/Fiscal/{fiscalId}/XenaApp/{id}/Users":{"get":{"tags":["AppStore - ApiXenaAppSubscriber"],"operationId":"ApiXenaAppSubscriber_GetUsersForXenaAppList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[XenaFiscalAppSubscriptionDto]"}}}}},"/Api/Fiscal/{fiscalId}/XenaAppSubscriber":{"get":{"tags":["AppStore - ApiXenaAppSubscriber"],"operationId":"ApiXenaAppSubscriber_GetList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"membershipId","in":"query","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[XenaFiscalAppSubscriptionDto]"}}}}},"/Api/Fiscal/{fiscalId}/XenaApp/{id}/Subscribe":{"put":{"tags":["AppStore - ApiXenaAppSubscriber"],"operationId":"ApiXenaAppSubscriber_PutSubscribe","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/SubscribeAppData"}},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"Not allowed."},"400":{"description":"Memberships can not be added (details included in response)."},"404":{"description":"App not found."}}}},"/Api/Fiscal/{fiscalId}/XenaApp/{id}/Unsubscribe":{"delete":{"tags":["AppStore - ApiXenaAppSubscriber"],"operationId":"ApiXenaAppSubscriber_DeleteUnsubscribe","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/UnsubscribeAppData"}},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"Not allowed."},"400":{"description":"Subscriber can not be deleted (details included in response)."},"404":{"description":"App not found."}}}},"/Api/Fiscal/{fiscalId}/XenaApp/{id}/RemoveAppExpireDate":{"put":{"tags":["AppStore - ApiXenaAppSubscriber"],"operationId":"ApiXenaAppSubscriber_PutRemoveAppExpireDate","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"401":{"description":"Not allowed."},"400":{"description":"Expire date can not be deleted (details included in response)."},"404":{"description":"App not found."}}}},"/Api/Fiscal/{fiscalId}/DataImport":{"get":{"tags":["Archive - ApiDataImport"],"operationId":"ApiDataImport_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[DataImportDto]"}}}},"post":{"tags":["Archive - ApiDataImport"],"operationId":"ApiDataImport_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dataImport","in":"body","required":true,"schema":{"$ref":"#/definitions/DataImportDto"}},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"400":{"description":"DataImport cannot be created (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/DataImport/{id}":{"get":{"tags":["Archive - ApiDataImport"],"operationId":"ApiDataImport_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"DataImport not found."}}},"delete":{"tags":["Archive - ApiDataImport"],"operationId":"ApiDataImport_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"DataImport not found."},"400":{"description":"DataImport cannot be deleted (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/DataImport/{id}/TriggerImport":{"put":{"tags":["Archive - ApiDataImport"],"operationId":"ApiDataImport_PutTriggerImport","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"400":{"description":"Import SAF-T cannot be triggered (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/DataImport/{id}/Task":{"get":{"tags":["Archive - ApiDataImportTask"],"operationId":"ApiDataImportTask_GetByDataImport","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[DataImportTaskDto]"}}}}},"/Api/Fiscal/{fiscalId}/DataImportTask/{id}":{"get":{"tags":["Archive - ApiDataImportTask"],"operationId":"ApiDataImportTask_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"DataImportTask not found."}}}},"/Api/Fiscal/{fiscalId}/DataImportTask/{id}/Log":{"get":{"tags":["Archive - ApiDataImportTaskLog"],"operationId":"ApiDataImportTaskLog_GetByDataImportTask","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[DataImportTaskLogDto]"}}}}},"/Api/Fiscal/{fiscalId}/ImportedAccount":{"get":{"tags":["Archive - ApiImportedAccount"],"operationId":"ApiImportedAccount_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"queryString","in":"query","required":false,"type":"string"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"},{"name":"dataImportDataFilter.limitToDataImport","in":"query","required":false,"type":"boolean"},{"name":"dataImportDataFilter.dataImportId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[ImportedAccountDto]"}}}}},"/Api/Fiscal/{fiscalId}/ImportedAccount/{id}":{"get":{"tags":["Archive - ApiImportedAccount"],"operationId":"ApiImportedAccount_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"ImportedAccount not found."}}},"put":{"tags":["Archive - ApiImportedAccount"],"operationId":"ApiImportedAccount_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"importedAccount","in":"body","required":true,"schema":{"$ref":"#/definitions/ImportedAccountDto"}},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Imported account not found."},"400":{"description":"Imported account cannot be updated (details included in response)."}}},"delete":{"tags":["Archive - ApiImportedAccount"],"operationId":"ApiImportedAccount_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"ImportedAccount not found."},"400":{"description":"ImportedAccount cannot be deleted (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/ImportedAccount/ImportMultiple":{"post":{"tags":["Archive - ApiImportedAccount"],"operationId":"ApiImportedAccount_PostImportMultiple","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/ImportAccountTaskData"}},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"400":{"description":"Article groups cannot be imported (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/ImportedArticle":{"get":{"tags":["Archive - ApiImportedArticle"],"operationId":"ApiImportedArticle_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"queryString","in":"query","required":false,"type":"string"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"},{"name":"dataImportDataFilter.limitToDataImport","in":"query","required":false,"type":"boolean"},{"name":"dataImportDataFilter.dataImportId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[ImportedArticleDto]"}}}}},"/Api/Fiscal/{fiscalId}/ImportedArticle/{id}":{"get":{"tags":["Archive - ApiImportedArticle"],"operationId":"ApiImportedArticle_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"ImportedArticle not found."}}},"put":{"tags":["Archive - ApiImportedArticle"],"operationId":"ApiImportedArticle_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dto","in":"body","required":true,"schema":{"$ref":"#/definitions/ImportedArticleDto"}},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Imported article not found."},"400":{"description":"Imported article cannot be updated (details included in response)."}}},"delete":{"tags":["Archive - ApiImportedArticle"],"operationId":"ApiImportedArticle_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"ImportedArticle not found."},"400":{"description":"ImportedArticle cannot be deleted (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/ImportedArticleGroup":{"get":{"tags":["Archive - ApiImportedArticleGroup"],"operationId":"ApiImportedArticleGroup_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"queryString","in":"query","required":false,"type":"string"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"},{"name":"dataImportDataFilter.limitToDataImport","in":"query","required":false,"type":"boolean"},{"name":"dataImportDataFilter.dataImportId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[ImportedArticleGroupDto]"}}}}},"/Api/Fiscal/{fiscalId}/ImportedArticleGroup/{id}":{"get":{"tags":["Archive - ApiImportedArticleGroup"],"operationId":"ApiImportedArticleGroup_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"ImportedArticleGroup not found."}}},"put":{"tags":["Archive - ApiImportedArticleGroup"],"operationId":"ApiImportedArticleGroup_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dto","in":"body","required":true,"schema":{"$ref":"#/definitions/ImportedArticleGroupDto"}},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Imported article group not found."},"400":{"description":"Imported article group cannot be updated (details included in response)."}}},"delete":{"tags":["Archive - ApiImportedArticleGroup"],"operationId":"ApiImportedArticleGroup_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"ImportedArticleGroup not found."},"400":{"description":"ImportedArticleGroup cannot be deleted (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/ImportedArticleGroup/{id}/LinkArticles":{"put":{"tags":["Archive - ApiImportedArticleGroup"],"operationId":"ApiImportedArticleGroup_PutImportGroup","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"400":{"description":"Articles cannot be linked (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/ImportedArticleGroup/ImportMultiple":{"post":{"tags":["Archive - ApiImportedArticleGroup"],"operationId":"ApiImportedArticleGroup_PostImportMultiple","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/ImportArticleGroupTaskData"}},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"400":{"description":"Article groups cannot be imported (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/ImportedFiscalYear":{"get":{"tags":["Archive - ApiImportedFiscalYear"],"operationId":"ApiImportedFiscalYear_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[ImportedFiscalYearDto]"}}}}},"/Api/Fiscal/{fiscalId}/ImportedFiscalYear/{id}":{"get":{"tags":["Archive - ApiImportedFiscalYear"],"operationId":"ApiImportedFiscalYear_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"ImportedAccount not found."}}}},"/Api/Fiscal/{fiscalId}/ImportedPartner":{"get":{"tags":["Archive - ApiImportedPartner"],"operationId":"ApiImportedPartner_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"queryString","in":"query","required":false,"type":"string"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"},{"name":"dataImportDataFilter.limitToDataImport","in":"query","required":false,"type":"boolean"},{"name":"dataImportDataFilter.dataImportId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[ImportedPartnerDto]"}}}}},"/Api/Fiscal/{fiscalId}/ImportedPartner/{id}":{"get":{"tags":["Archive - ApiImportedPartner"],"operationId":"ApiImportedPartner_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"ImportedPartner not found."}}},"put":{"tags":["Archive - ApiImportedPartner"],"operationId":"ApiImportedPartner_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dto","in":"body","required":true,"schema":{"$ref":"#/definitions/ImportedPartnerDto"}},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"Imported partner not found."},"400":{"description":"Imported partner cannot be updated (details included in response)."}}},"delete":{"tags":["Archive - ApiImportedPartner"],"operationId":"ApiImportedPartner_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"ImportedPartner not found."},"400":{"description":"ImportedPartner cannot be deleted (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/ImportedPartner/ImportMultiple":{"post":{"tags":["Archive - ApiImportedPartner"],"operationId":"ApiImportedPartner_PostImportMultiple","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/ImportPartnerTaskData"}},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"400":{"description":"Article groups cannot be imported (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/ImportedAccount/{id}/ImportedPosting":{"get":{"tags":["Archive - ApiImportedPosting"],"operationId":"ApiImportedPosting_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"queryString","in":"query","required":false,"type":"string"},{"name":"includeDefaults","in":"query","required":false,"type":"boolean"},{"name":"fiscalId","in":"path","required":true,"type":"string"},{"name":"listOptions.showDeactivated","in":"query","required":false,"type":"boolean"},{"name":"listOptions.page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"listOptions.forceNoPaging","in":"query","required":false,"type":"boolean"},{"name":"fiscalPeriod.version","in":"query","required":false,"type":"integer","format":"int32"},{"name":"fiscalPeriod.dataImportId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"fiscalPeriod.fromDateDays","in":"query","required":false,"type":"integer","format":"int32"},{"name":"fiscalPeriod.toDateDays","in":"query","required":false,"type":"integer","format":"int32"},{"name":"fiscalPeriod.description","in":"query","required":false,"type":"string"},{"name":"fiscalPeriod.isClosed","in":"query","required":false,"type":"boolean"},{"name":"fiscalPeriod.toDateDaysFriendly","in":"query","required":false,"type":"string"},{"name":"fiscalPeriod.id","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedResultSet[ImportedPostingDto]"}}}}},"/Api/Fiscal/{fiscalId}/ImportedPosting/{id}":{"get":{"tags":["Archive - ApiImportedPosting"],"operationId":"ApiImportedPosting_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"ImportedAccount not found."}}},"delete":{"tags":["Archive - ApiImportedPosting"],"operationId":"ApiImportedPosting_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int64"},{"name":"fiscalId","in":"path","required":true,"type":"string"}],"responses":{"404":{"description":"ImportedPosting not found."},"400":{"description":"ImportedPosting cannot be deleted (details included in response)."}}}},"/Api/Fiscal/{fiscalId}/ImportedPosting/ImportMultiple":{"post":{"tags":["Archive - ApiImportedPosting"],"operationId":"ApiImportedPosting_PostImportMulti
[...]
